In [1]:
import pandas as pd

/var/folders/4r/8l8ztg457hq357p0kylhwhfw0000gn/T/ipykernel_17110/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [ ]:
# 2023
bls_2023q1 = pd.read_excel('./data/bls/allhlcn231.xlsx')
bls_2023q2 = pd.read_excel("./data/bls/allhlcn232.xlsx")
bls_2023q3 = pd.read_excel("./data/bls/allhlcn233.xlsx")
bls_2023q4 = pd.read_excel("./data/bls/allhlcn234.xlsx")
bls_2023 = [bls_2023q1, bls_2023q2, bls_2023q3, bls_2023q4]

,Area\nCode,St,Cnty,Own,NAICS,Year,Qtr,Area Type,St Name,Area,...,Industry,Status Code,Establishment Count,January Employment,February Employment,March Employment,Total Quarterly Wages,Average Weekly Wage,Employment Location Quotient Relative to U.S.,Total Wage Location Quotient Relative to U.S.
0,US000,US,0.0,0,10,2023,1,Nation,NaN,U.S. TOTAL,...,"10 Total, all industries",NaN,11766298,150234140,151045488,151569737,2875277779642,1465,1.00,1.00
1,US000,US,0.0,1,10,2023,1,Nation,NaN,U.S. TOTAL,...,"10 Total, all industries",NaN,60706,2867472,2881671,2886104,69987784820,1870,1.00,1.00
2,US000,US,0.0,2,10,2023,1,Nation,NaN,U.S. TOTAL,...,"10 Total, all industries",NaN,71919,4523580,4614214,4635018,87305644448,1463,1.00,1.00
3,US000,US,0.0,3,10,2023,1,Nation,NaN,U.S. TOTAL,...,"10 Total, all industries",NaN,171652,14257753,14391192,14455697,223148652348,1195,1.00,1.00
4,US000,US,0.0,5,10,2023,1,Nation,NaN,U.S. TOTAL,...,"10 Total, all industries",NaN,11462021,128585335,129158411,129592918,2494835698026,1486,1.00,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63014,C4974,NaN,NaN,5,1024,2023,1,MSA,NaN,"Yuma, AZ MSA",...,1024 Professional and business services,NaN,591,7269,7360,7571,99589698,1035,0.66,0.52
63015,C4974,NaN,NaN,5,1025,2023,1,MSA,NaN,"Yuma, AZ MSA",...,1025 Education and health services,NaN,461,8462,8720,8760,137637799,1224,0.71,1.12
63016,C4974,NaN,NaN,5,1026,2023,1,MSA,NaN,"Yuma, AZ MSA",...,1026 Leisure and hospitality,NaN,386,7063,7212,7290,47881962,512,0.90,1.18
63017,C4974,NaN,NaN,5,1027,2023,1,MSA,NaN,"Yuma, AZ MSA",...,1027 Other services,NaN,255,1486,1509,1511,17002897,871,0.66,0.91
63018,C4974,NaN,NaN,5,1029,2023,1,MSA,NaN,"Yuma, AZ MSA",...,1029 Unclassified,NaN,63,88,93,83,1003100,877,0.60,0.59

In [5]:
bls_2023q1_information = bls_2023q1[
    bls_2023q1["Industry"].str.startswith("1022", na=False)
]

bls_2023q1_information

,Area\nCode,St,Cnty,Own,NAICS,Year,Qtr,Area Type,St Name,Area,...,Industry,Status Code,Establishment Count,January Employment,February Employment,March Employment,Total Quarterly Wages,Average Weekly Wage,Employment Location Quotient Relative to U.S.,Total Wage Location Quotient Relative to U.S.
11,US000,US,0.0,5,1022,2023,1,Nation,NaN,U.S. TOTAL,...,1022 Information,NaN,281426,3061762,3073128,3040592,124812938362,3139,1.00,1.00
29,01000,01,0.0,5,1022,2023,1,State,Alabama,Alabama -- Statewide,...,1022 Information,NaN,4795,23420,23445,23321,497644789,1636,0.56,0.37
47,01001,01,1.0,5,1022,2023,1,County,Alabama,"Autauga County, Alabama",...,1022 Information,NaN,17,41,39,40,890573,1713,0.17,0.14
64,01003,01,3.0,5,1022,2023,1,County,Alabama,"Baldwin County, Alabama",...,1022 Information,NaN,178,549,549,549,9485274,1329,0.34,0.23
82,01005,01,5.0,5,1022,2023,1,County,Alabama,"Barbour County, Alabama",...,1022 Information,N,2,0,0,0,0,0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62942,C4942,NaN,NaN,5,1022,2023,1,MSA,NaN,"Yakima, WA MSA",...,1022 Information,NaN,59,504,508,512,6712940,1016,0.23,0.12
62959,C4962,NaN,NaN,5,1022,2023,1,MSA,NaN,"York-Hanover, PA MSA",...,1022 Information,NaN,90,910,887,891,13670739,1174,0.25,0.11
62976,C4966,NaN,NaN,5,1022,2023,1,MSA,NaN,"Youngstown-Warren, OH MSA",...,1022 Information,NaN,148,1341,1335,1337,22887697,1316,0.34,0.21
62994,C4970,NaN,NaN,5,1022,2023,1,MSA,NaN,"Yuba City, CA MSA",...,1022 Information,N,14,0,0,0,0,0,0.00,0.00
63012,C4974,NaN,NaN,5,1022,2023,1,MSA,NaN,"Yuma, AZ MSA",...,1022 Information,NaN,32,358,356,362,4124150,885,0.23,0.10

In [ ]:
area_name = "Autauga County, Alabama"
for i, df in enumerate(bls_2023):
    month_data = df[df["Area"] == area_name].copy()