In [1]:
import pandas as pd

/var/folders/4r/8l8ztg457hq357p0kylhwhfw0000gn/T/ipykernel_34284/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [20]:
# Load all files
all_bls_data_information = {}
for year in range(2022, 2024):
    year_str = str(year)
    year_suffix = year_str[2:]
    all_bls_data_information[year_str] = {}
    for quarter in range(1, 5):
        quarter_str = str(quarter)
        quarter_df = pd.read_excel(
            f"./data/bls/allhlcn{year_suffix}{quarter_str}.xlsx"
        )
        quarter_df = quarter_df[quarter_df["Industry"].str.startswith("1022", na=False)]
        all_bls_data_information[year_str][quarter_str] = quarter_df

print(all_bls_data_information)

{'2022': {'1':       Area\nCode   St  Cnty  Own  NAICS  Year  Qtr Area Type  St Name  \
11         US000   US   0.0    5   1022  2022    1    Nation      NaN
29         01000   01   0.0    5   1022  2022    1     State  Alabama
47         01001   01   1.0    5   1022  2022    1    County  Alabama
64         01003   01   3.0    5   1022  2022    1    County  Alabama
81         01005   01   5.0    5   1022  2022    1    County  Alabama
...          ...  ...   ...  ...    ...   ...  ...       ...      ...
62817      C4942  NaN   NaN    5   1022  2022    1       MSA      NaN
62834      C4962  NaN   NaN    5   1022  2022    1       MSA      NaN
62851      C4966  NaN   NaN    5   1022  2022    1       MSA      NaN
62869      C4970  NaN   NaN    5   1022  2022    1       MSA      NaN
62886      C4974  NaN   NaN    5   1022  2022    1       MSA      NaN

                                        Area  ...          Industry  \
11                                U.S. TOTAL  ...  1022 Information
29                      Alabama -- Statewide  ...  1022 Information
47                   Autauga County, Alabama  ...  1022 Information
64                   Baldwin County, Alabama  ...  1022 Information
81                   Barbour County, Alabama  ...  1022 Information
...                                      ...  ...               ...
62817                         Yakima, WA MSA  ...  1022 Information
62834                   York-Hanover, PA MSA  ...  1022 Information
62851  Youngstown-Warren-Boardman, OH-PA MSA  ...  1022 Information
62869                      Yuba City, CA MSA  ...  1022 Information
62886                           Yuma, AZ MSA  ...  1022 Information

      Status Code Establishment Count  January Employment  \
11            NaN              249568             2942376
29            NaN                4156               21863
47            NaN                  14                  29
64            NaN                 132                 420
81              N                   3                   0
...           ...                 ...                 ...
62817         NaN                  57                 482
62834         NaN                  90                 832
62851         NaN                 129                1252
62869           N                  13                   0
62886         NaN                  30                 355

       February Employment  March Employment  Total Quarterly Wages  \
11                 2989694           3003458           118828728288
29                   22169             22462              449714529
47                      29                32                 617870
64                     423               432                6524241
81                       0                 0                      0
...                    ...               ...                    ...
62817                  496               496                6003076
62834                  827               825               11934802
62851                 1264              1314               19910205
62869                    0                 0                      0
62886                  356               359                3805039

       Average Weekly Wage  Employment Location Quotient Relative to U.S.  \
11                    3069                                           1.00
29                    1561                                           0.55
47                    1584                                           0.14
64                    1181                                           0.27
81                       0                                           0.00
...                    ...                                            ...
62817                  940                                           0.22
62834                 1109                                           0.23
62851                 1200                                           0.33
62869                    0                                           0.00
62886                  821                                           0.23

       Total Wage Location Quotient Relative to U.S.
11                                              1.00
29                                              0.36
47                                              0.11
64                                              0.17
81                                              0.00
...                                              ...
62817                                           0.11
62834                                           0.11
62851                                           0.19
62869                                           0.00
62886                                           0.10

[3513 rows x 21 columns], '2':       Area\nCode   St  Cnty  Own  NAICS  Year  Qtr Area Type  St Name  \
11         US000   US   0.0    5   1022  2022    2    Nation      NaN
29         01000   01   0.0    5   1022  2022    2     State  Alabama
47         01001   01   1.0    5   1022  2022    2    County  Alabama
64         01003   01   3.0    5   1022  2022    2    County  Alabama
81         01005   01   5.0    5   1022  2022    2    County  Alabama
...          ...  ...   ...  ...    ...   ...  ...       ...      ...
62904      C4942  NaN   NaN    5   1022  2022    2       MSA      NaN
62921      C4962  NaN   NaN    5   1022  2022    2       MSA      NaN
62938      C4966  NaN   NaN    5   1022  2022    2       MSA      NaN
62956      C4970  NaN   NaN    5   1022  2022    2       MSA      NaN
62973      C4974  NaN   NaN    5   1022  2022    2       MSA      NaN

                                        Area  ...          Industry  \
11                                U.S. TOTAL  ...  1022 Information
29                      Alabama -- Statewide  ...  1022 Information
47                   Autauga County, Alabama  ...  1022 Information
64                   Baldwin County, Alabama  ...  1022 Information
81                   Barbour County, Alabama  ...  1022 Information
...                                      ...  ...               ...
62904                         Yakima, WA MSA  ...  1022 Information
62921                   York-Hanover, PA MSA  ...  1022 Information
62938  Youngstown-Warren-Boardman, OH-PA MSA  ...  1022 Information
62956                      Yuba City, CA MSA  ...  1022 Information
62973                           Yuma, AZ MSA  ...  1022 Information

      Status Code Establishment Count  April Employment  May Employment  \
11            NaN              259263           3017462         3049538
29            NaN                4346             22636           22838
47            NaN                  12                36              38
64            NaN                 147               459             473
81              N                   2                 0               0
...           ...                 ...               ...             ...
62904         NaN                  60               496             493
62921         NaN                  88               852             859
62938         NaN                 131              1322            1325
62956           N                  13                 0               0
62973         NaN                  30               357             364

       June Employment  Total Quarterly Wages  Average Weekly Wage  \
11             3067316           105340801657                 2661
29               22899              437015781                 1475
47                  34                 734289                 1569
64                 468                7245363                 1194
81                   0                      0                    0
...                ...                    ...                  ...
62904              491                6038124                  941
62921              842               11930448                 1078
62938             1360               21152604                 1218
62956                0                      0                    0
62973              358                4241910                  907

       Employment Location Quotient Relative to U.S.  \
11                                              1.00
29                                              0.56
47                                              0.14
64                                              0.28
81                                              0.00
...                                              ...
62904                                           0.20
62921                                           0.23
62938                                           0.33
62956                                           0.00
62973                                           0.28

       Total Wage Location Quotient Relative to U.S.
11                                              1.00
29                                              0.37
47                                              0.14
64                                              0.19
81                                              0.00
...                                              ...
62904                                           0.11
62921                                           0.11
62938                                           0.22
62956                                           0.00
62973                                           0.12

[3517 rows x 21 columns], '3':       Area\nCode   St  Cnty  Own  NAICS  Year  Qtr Area Type  St Name  \
11         US000   US   0.0    5   1022  2022    3    Nation      NaN
29         01000   01   0.0    5   1022  2022    3     State  Alabama
47         01001   01   1.0    5   1022  2022    3    County  Alabama
64         01003   01   3.0    5   1022  2022    3    County  Alabama
81         01005   01   5.0    5   1022  2022    3    County  Alabama
...          ...  ...   ...  ...    ...   ...  ...       ...      ...
62938      C4942  NaN   NaN    5   1022  2022    3       MSA      NaN
62955      C4962  NaN   NaN    5   1022  2022    3       MSA      NaN
62972      C4966  NaN   NaN    5   1022  2022    3       MSA      NaN
62990      C4970  NaN   NaN    5   1022  2022    3       MSA      NaN
63008      C4974  NaN   NaN    5   1022  2022    3       MSA      NaN

                                        Area  ...          Industry  \
11                                U.S. TOTAL  ...  1022 Information
29                      Alabama -- Statewide  ...  1022 Information
47                   Autauga County, Alabama  ...  1022 Information
64                   Baldwin County, Alabama  ...  1022 Information
81                   Barbour County, Alabama  ...  1022 Information
...                                      ...  ...               ...
62938                         Yakima, WA MSA  ...  1022 Information
62955                   York-Hanover, PA MSA  ...  1022 Information
62972  Youngstown-Warren-Boardman, OH-PA MSA  ...  1022 Information
62990                      Yuba City, CA MSA  ...  1022 Information
63008                           Yuma, AZ MSA  ...  1022 Information

      Status Code Establishment Count  July Employment  August Employment  \
11            NaN              268091          3094576            3110909
29            NaN                4552            23273              23360
47            NaN                  13               38                 37
64            NaN                 164              523                517
81              N                   2                0                  0
...           ...                 ...              ...                ...
62938         NaN                  61              500                499
62955         NaN                  87              859                864
62972         NaN                 137             1356               1363
62990           N                  15                0                  0
63008         NaN                  31              366                355

       September Employment  Total Quarterly Wages  Average Weekly Wage  \
11                  3075162           110865731942                 2757
29                    23223              460087622                 1520
47                       36                 779378                 1620
64                      513                8131576                 1208
81                        0                      0                    0
...                     ...                    ...                  ...
62938                   500                6377225                  982
62955                   882               12986940                 1150
62972                  1341               22377152                 1272
62990                     0                      0                    0
63008                   341                3848343                  836

       Employment Location Quotient Relative to U.S.  \
11                                              1.00
29                                              0.56
47                                              0.15
64                                              0.32
81                                              0.00
...                                              ...
62938                                           0.20
62955                                           0.24
62972                                           0.33
62990                                           0.00
63008                                           0.25

       Total Wage Location Quotient Relative to U.S.
11                                              1.00
29                                              0.37
47                                              0.13
64                                              0.19
81                                              0.00
...                                              ...
62938                                           0.10
62955                                           0.11
62972                                           0.22
62990                                           0.00
63008                                           0.11

[3516 rows x 21 columns], '4':       Area\nCode   St  Cnty  Own  NAICS  Year  Qtr Area Type  St Name  \
11         US000   US   0.0    5   1022  2022    4    Nation      NaN
29         01000   01   0.0    5   1022  2022    4     State  Alabama
47         01001   01   1.0    5   1022  2022    4    County  Alabama
64         01003   01   3.0    5   1022  2022    4    County  Alabama
81         01005   01   5.0    5   1022  2022    4    County  Alabama
...          ...  ...   ...  ...    ...   ...  ...       ...      ...
62957      C4942  NaN   NaN    5   1022  2022    4       MSA      NaN
62974      C4962  NaN   NaN    5   1022  2022    4       MSA      NaN
62991      C4966  NaN   NaN    5   1022  2022    4       MSA      NaN
63009      C4970  NaN   NaN    5   1022  2022    4       MSA      NaN
63027      C4974  NaN   NaN    5   1022  2022    4       MSA      NaN

                                        Area  ...          Industry  \
11                                U.S. TOTAL  ...  1022 Information
29                      Alabama -- Statewide  ...  1022 Information
47                   Autauga County, Alabama  ...  1022 Information
64                   Baldwin County, Alabama  ...  1022 Information
81                   Barbour County, Alabama  ...  1022 Information
...                                      ...  ...               ...
62957                         Yakima, WA MSA  ...  1022 Information
62974                   York-Hanover, PA MSA  ...  1022 Information
62991  Youngstown-Warren-Boardman, OH-PA MSA  ...  1022 Information
63009                      Yuba City, CA MSA  ...  1022 Information
63027                           Yuma, AZ MSA  ...  1022 Information

      Status Code Establishment Count  October Employment  \
11            NaN              274319             3079272
29            NaN                4688               23118
47            NaN                  16                  40
64            NaN                 175                 518
81              N                   2                   0
...           ...                 ...                 ...
62957         NaN                  60                 491
62974         NaN                  90                 880
62991         NaN                 141                1321
63009           N                  14                   0
63027         NaN                  32                 342

       November Employment  December Employment  Total Quarterly Wages  \
11                 3093578              3071179           107799721748
29                   23188                23426              467371572
47                      38                   38                 765346
64                     527                  540                8838600
81                       0                    0                      0
...                    ...                  ...                    ...
62957                  502                  504                6207951
62974                  878                  881               12970531
62991                 1336                 1320               22583946
63009                    0                    0                      0
63027                  359                  361                4023527

       Average Weekly Wage  Employment Location Quotient Relative to U.S.  \
11                    2691                                           1.00
29                    1547                                           0.56
47                    1523                                           0.16
64                    1287                                           0.33
81                       0                                           0.00
...                    ...                                            ...
62957                  957                                           0.23
62974                 1134                                           0.24
62991                 1310                                           0.33
63009                    0                                           0.00
63027                  874                                           0.23

       Total Wage Location Quotient Relative to U.S.
11                                              1.00
29                                              0.38
47                                              0.13
64                                              0.23
81                                              0.00
...                                              ...
62957                                           0.11
62974                                           0.12
62991                                           0.23
63009                                           0.00
63027                                           0.11

[3516 rows x 21 columns]}, '2023': {'1':       Area\nCode   St  Cnty  Own  NAICS  Year  Qtr Area Type  St Name  \
11         US000   US   0.0    5   1022  2023    1    Nation      NaN
29         01000   01   0.0    5   1022  2023    1     State  Alabama
47         01001   01   1.0    5   1022  2023    1    County  Alabama
64         01003   01   3.0    5   1022  2023    1    County  Alabama
82         01005   01   5.0    5   1022  2023    1    County  Alabama
...          ...  ...   ...  ...    ...   ...  ...       ...      ...
62942      C4942  NaN   NaN    5   1022  2023    1       MSA      NaN
62959      C4962  NaN   NaN    5   1022  2023    1       MSA      NaN
62976      C4966  NaN   NaN    5   1022  2023    1       MSA      NaN
62994      C4970  NaN   NaN    5   1022  2023    1       MSA      NaN
63012      C4974  NaN   NaN    5   1022  2023    1       MSA      NaN

                            Area  ...          Industry Status Code  \
11                    U.S. TOTAL  ...  1022 Information         NaN
29          Alabama -- Statewide  ...  1022 Information         NaN

In [ ]:
num_to_month = {
    1: "January",
    2: "February",
    3: "March",
    4: "April",
    5: "May",
    6: "June",
    7: "July",
    8: "August",
    9: "September",
    10: "October",
    11: "November",
    12: "December",
}

def getCountySeries(county):
    filtered_data = []
    for year in all_bls_data_information:
        for quarter in all_bls_data_information[year]:
            quarterly_df = all_bls_data_information[year][quarter]
            quarterly_df = quarterly_df[quarterly_df["Area"] == county].copy()
            quarterly_df = quarterly_df.reset_index()

            start_mth = 3 * (int(quarter) - 1) + 1
            end_mth = start_mth + 3

            for month in range(start_mth, end_mth):
                month_str = str(month) if month > 9 else "0" + str(month)
                filtered_data.append(
                    [f"{year}-{month_str}", quarterly_df.loc[0, f"{num_to_month[month]} Employment"]]
                )

    filtered_df = pd.DataFrame(filtered_data, columns=["Year-Month", "Employment"])
    return filtered_df

In [27]:
county = "Autauga County, Alabama"
ex = getCountySeries(county)
ex

   Year-Month  Employment
0     2022-01          29
1     2022-02          29
2     2022-03          32
3     2022-04          36
4     2022-05          38
5     2022-06          34
6     2022-07          38
7     2022-08          37
8     2022-09          36
9     2022-10          40
10    2022-11          38
11    2022-12          38
12    2023-01          41
13    2023-02          39
14    2023-03          40
15    2023-04          45
16    2023-05          44
17    2023-06          42
18    2023-07          43
19    2023-08          44
20    2023-09          43
21    2023-10          45
22    2023-11          43
23    2023-12          42