In [1]:
import pandas as pd

/var/folders/4r/8l8ztg457hq357p0kylhwhfw0000gn/T/ipykernel_34284/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [39]:
# Load all files
all_bls_data_information = {}
for year in range(2011, 2025):
    year_str = str(year)
    year_suffix = year_str[2:]
    all_bls_data_information[year_str] = {}
    for quarter in range(1, 5):
        quarter_str = str(quarter)
        print(f"./data/bls/allhlcn{year_suffix}{quarter_str}.xlsx")
        quarter_df = pd.read_excel(
            f"./data/bls/allhlcn{year_suffix}{quarter_str}.xlsx"
        )
        quarter_df = quarter_df[quarter_df["Industry"].str.contains("Information", na=False)]
        all_bls_data_information[year_str][quarter_str] = quarter_df
        if year_suffix == "24":
            break
all_bls_data_information

./data/bls/allhlcn111.xlsx
./data/bls/allhlcn112.xlsx
./data/bls/allhlcn113.xlsx
./data/bls/allhlcn114.xlsx
./data/bls/allhlcn121.xlsx
./data/bls/allhlcn122.xlsx
./data/bls/allhlcn123.xlsx
./data/bls/allhlcn124.xlsx
./data/bls/allhlcn131.xlsx
./data/bls/allhlcn132.xlsx
./data/bls/allhlcn133.xlsx
./data/bls/allhlcn134.xlsx
./data/bls/allhlcn141.xlsx
./data/bls/allhlcn142.xlsx
./data/bls/allhlcn143.xlsx
./data/bls/allhlcn144.xlsx
./data/bls/allhlcn151.xlsx
./data/bls/allhlcn152.xlsx
./data/bls/allhlcn153.xlsx
./data/bls/allhlcn154.xlsx
./data/bls/allhlcn161.xlsx
./data/bls/allhlcn162.xlsx
./data/bls/allhlcn163.xlsx
./data/bls/allhlcn164.xlsx
./data/bls/allhlcn171.xlsx
./data/bls/allhlcn172.xlsx
./data/bls/allhlcn173.xlsx
./data/bls/allhlcn174.xlsx
./data/bls/allhlcn181.xlsx
./data/bls/allhlcn182.xlsx
./data/bls/allhlcn183.xlsx
./data/bls/allhlcn184.xlsx
./data/bls/allhlcn191.xlsx
./data/bls/allhlcn192.xlsx
./data/bls/allhlcn193.xlsx
./data/bls/allhlcn194.xlsx
./data/bls/allhlcn201.xlsx
./data/bls/allhlcn202.xlsx
./data/bls/allhlcn203.xlsx
./data/bls/allhlcn204.xlsx
./data/bls/allhlcn211.xlsx
./data/bls/allhlcn212.xlsx
./data/bls/allhlcn213.xlsx
./data/bls/allhlcn214.xlsx
./data/bls/allhlcn221.xlsx
./data/bls/allhlcn222.xlsx
./data/bls/allhlcn223.xlsx
./data/bls/allhlcn224.xlsx
./data/bls/allhlcn231.xlsx
./data/bls/allhlcn232.xlsx
./data/bls/allhlcn233.xlsx
./data/bls/allhlcn234.xlsx
./data/bls/allhlcn241.xlsx

{'2011': {'1':       Area\nCode   St  Cnty  Own  NAICS  Year  Qtr Area Type  St Name  \
  11         US000   US   0.0    5   1022  2011    1    Nation      NaN
  29         01000   01   0.0    5   1022  2011    1     State  Alabama
  46         01001   01   1.0    5   1022  2011    1    County  Alabama
  63         01003   01   3.0    5   1022  2011    1    County  Alabama
  80         01005   01   5.0    5   1022  2011    1    County  Alabama
  ...          ...  ...   ...  ...    ...   ...  ...       ...      ...
  62179      C4942  NaN   NaN    5   1022  2011    1       MSA      NaN
  62196      C4962  NaN   NaN    5   1022  2011    1       MSA      NaN
  62213      C4966  NaN   NaN    5   1022  2011    1       MSA      NaN
  62231      C4970  NaN   NaN    5   1022  2011    1       MSA      NaN
  62249      C4974  NaN   NaN    5   1022  2011    1       MSA      NaN

                                          Area  ...     Industry Status Code  \
  11                                U.S. TOTAL  ...  Information         NaN
  29                      Alabama -- Statewide  ...  Information         NaN
  46                   Autauga County, Alabama  ...  Information         NaN
  63                   Baldwin County, Alabama  ...  Information         NaN
  80                   Barbour County, Alabama  ...  Information         NaN
  ...                                      ...  ...          ...         ...
  62179                         Yakima, WA MSA  ...  Information         NaN
  62196                   York-Hanover, PA MSA  ...  Information         NaN
  62213  Youngstown-Warren-Boardman, OH-PA MSA  ...  Information         NaN
  62231                      Yuba City, CA MSA  ...  Information         NaN
  62249                           Yuma, AZ MSA  ...  Information         NaN

        Establishment Count  January Employment  February Employment  \
  11                 142847             2665440              2665922
  29                   1532               23452                23380
  46                      8                  38                   38
  63                     58                 433                  434
  80                      5                  28                   28
  ...                   ...                 ...                  ...
  62179                  47                 821                  823
  62196                  77                1839                 1840
  62213                 157                2218                 2190
  62231                  21                 413                  406
  62249                  34                 547                  548

         March Employment  Total Quarterly Wages  Average Weekly Wage  \
  11              2670296            55730708690                 1607
  29                23235              300358640                  989
  46                   38                 528385                 1070
  63                  429                4032656                  718
  80                   28                 282119                  775
  ...                 ...                    ...                  ...
  62179               835                8061806                  750
  62196              1831               22695227                  951
  62213              2195               22842369                  798
  62231               411                5233884                  982
  62249               549                4436650                  623

         Employment Location Quotient Relative to U.S.  \
  11                                              1.00
  29                                              0.61
  46                                              0.17
  63                                              0.35
  80                                              0.15
  ...                                              ...
  62179                                           0.42
  62196                                           0.52
  62213                                           0.50
  62231                                           0.48
  62249                                           0.38

         Total Wage Location Quotient Relative to U.S.
  11                                              1.00
  29                                              0.47
  46                                              0.18
  63                                              0.26
  80                                              0.11
  ...                                              ...
  62179                                           0.30
  62196                                           0.37
  62213                                           0.35
  62231                                           0.39
  62249                                           0.23

  [3510 rows x 21 columns],
  '2':       Area\nCode   St  Cnty  Own  NAICS  Year  Qtr Area Type  St Name  \
  11         US000   US   0.0    5   1022  2011    2    Nation      NaN
  29         01000   01   0.0    5   1022  2011    2     State  Alabama
  46         01001   01   1.0    5   1022  2011    2    County  Alabama
  63         01003   01   3.0    5   1022  2011    2    County  Alabama
  80         01005   01   5.0    5   1022  2011    2    County  Alabama
  ...          ...  ...   ...  ...    ...   ...  ...       ...      ...
  62144      C4942  NaN   NaN    5   1022  2011    2       MSA      NaN
  62161      C4962  NaN   NaN    5   1022  2011    2       MSA      NaN
  62178      C4966  NaN   NaN    5   1022  2011    2       MSA      NaN
  62196      C4970  NaN   NaN    5   1022  2011    2       MSA      NaN
  62214      C4974  NaN   NaN    5   1022  2011    2       MSA      NaN

                                          Area  ...     Industry Status Code  \
  11                                U.S. TOTAL  ...  Information         NaN
  29                      Alabama -- Statewide  ...  Information         NaN
  46                   Autauga County, Alabama  ...  Information         NaN
  63                   Baldwin County, Alabama  ...  Information         NaN
  80                   Barbour County, Alabama  ...  Information         NaN
  ...                                      ...  ...          ...         ...
  62144                         Yakima, WA MSA  ...  Information         NaN
  62161                   York-Hanover, PA MSA  ...  Information         NaN
  62178  Youngstown-Warren-Boardman, OH-PA MSA  ...  Information         NaN
  62196                      Yuba City, CA MSA  ...  Information         NaN
  62214                           Yuma, AZ MSA  ...  Information         NaN

        Establishment Count  April Employment  May Employment  June Employment  \
  11                 142347           2672447         2676524          2686105
  29                   1521             23100           23263            23272
  46                      9                37              44               51
  63                     58               429             438              440
  80                      5                28              27               28
  ...                   ...               ...             ...              ...
  62144                  47               812             812              816
  62161                  76              1819            1790             1776
  62178                 153              2209            2237             2237
  62196                  21               412             411              406
  62214                  33               552             554              555

         Total Quarterly Wages  Average Weekly Wage  \
  11               48668252518                 1398
  29                 287611547                  953
  46                    612715                 1071
  63                   4308449                  761
  80                    340445                  947
  ...                      ...                  ...
  62144                8106562                  767
  62161               20582751                  882
  62178               23013007                  795
  62196                5043598                  947
  62214                4289583                  596

         Employment Location Quotient Relative to U.S.  \
  11                                              1.00
  29                                              0.62
  46                                              0.23
  63                                              0.34
  80                                              0.15
  ...                                              ...
  62144                                           0.39
  62161                                           0.50
  62178                                           0.50
  62196                                           0.46
  62214                                           0.49

         Total Wage Location Quotient Relative to U.S.
  11                                              1.00
  29                                              0.49
  46                                              0.22
  63                                              0.29
  80                                              0.15
  ...                                              ...
  62144                                           0.32
  62161                                           0.36
  62178                                           0.37
  62196                                           0.39
  62214                                           0.27

  [3505 rows x 21 columns],
  '3':       Area\nCode   St  Cnty  Own  NAICS  Year  Qtr Area Type  St Name  \
  11         US000   US   0.0    5   1022  2011    3    Nation      NaN
  29         01000   01   0.0    5   1022  2011    3     State  Alabama
  46         01001   01   1.0    5   1022  2011    3    County  Alabama
  63         01003   01   3.0    5   1022  2011    3    County  Alabama
  80         01005   01   5.0    5   1022  2011    3    County  Alabama
  ...          ...  ...   ...  ...    ...   ...  ...       ...      ...
  62160      C4942  NaN   NaN    5   1022  2011    3       MSA      NaN
  62177      C4962  NaN   NaN    5   1022  2011    3       MSA      NaN
  62194      C4966  NaN   NaN    5   1022  2011    3       MSA      NaN
  62212      C4970  NaN   NaN    5   1022  2011    3       MSA      NaN
  62230      C4974  NaN   NaN    5   1022  2011    3       MSA      NaN

                                          Area  ...     Industry Status Code  \
  11                                U.S. TOTAL  ...  Information         NaN
  29                      Alabama -- Statewide  ...  Information         NaN
  46                   Autauga County, Alabama  ...  Information         NaN
  63                   Baldwin County, Alabama  ...  Information         NaN
  80                   Barbour County, Alabama  ...  Information         NaN
  ...                                      ...  ...          ...         ...
  62160                         Yakima, WA MSA  ...  Information         NaN
  62177                   York-Hanover, PA MSA  ...  Information         NaN
  62194  Youngstown-Warren-Boardman, OH-PA MSA  ...  Information         NaN
  62212                      Yuba City, CA MSA  ...  Information         NaN
  62230                           Yuma, AZ MSA  ...  Information         NaN

        Establishment Count  July Employment  August Employment  \
  11                 143175          2696145            2655425
  29                   1541            23190              23055
  46                      8               39                 36
  63                     57              437                436
  80                      5               28                 28
  ...                   ...              ...                ...
  62160                  46              832                830
  62177                  76             1765               1765
  62194                 152             2212               2162
  62212                  22              402                398
  62230                  34              559                534

         September Employment  Total Quarterly Wages  Average Weekly Wage  \
  11                  2673745            52874162293                 1520
  29                    23028              300773010                 1002
  46                       35                 564894                 1185
  63                      432                4639314                  820
  80                       28                 333551                  916
  ...                     ...                    ...                  ...
  62160                   808                8524692                  796
  62177                  1778               22472188                  977
  62194                  2193               24268152                  853
  62212                   382                5450973                 1064
  62230                   541                4549697                  643

         Employment Location Quotient Relative to U.S.  \
  11                                              1.00
  29                                              0.62
  46                                              0.16
  63                                              0.35
  80                                              0.15
  ...                                              ...
  62160                                           0.36
  62177                                           0.51
  62194                                           0.49
  62212                                           0.42
  62230                                           0.48

         Total Wage Location Quotient Relative to U.S.
  11                                              1.00
  29                                              0.46
  46                                              0.19
  63                                              0.28
  80                                              0.13
  ...                                              ...
  62160                                           0.28
  62177                                           0.35
  62194                                           0.36
  62212                                           0.38
  62230                                           0.29

  [3504 rows x 21 columns],
  '4':       Area\nCode   St  Cnty  Own  NAICS  Year  Qtr Area Type  St Name  \
  11         US000   US   0.0    5   1022  2011    4    Nation      NaN
  29         01000   01   0.0    5   1022  2011    4     State  Alabama
  46         01001   01   1.0    5   1022  2011    4    County  Alabama
  63         01003   01   3.0    5   1022  2011    4    County  Alabama
  80         01005   01   5.0    5   1022  2011    4    County  Alabama
  ...          ...  ...   ...  ...    ...   ...  ...       ...      ...
  62298      C4942  NaN   NaN    5   1022  2011    4       MSA      NaN
  62315      C4962  NaN   NaN    5   1022  2011    4       MSA      NaN
  62332      C4966  NaN   NaN    5   1022  2011    4       MSA      NaN
  62350      C4970  NaN   NaN    5   1022  2011    4       MSA      NaN
  62368      C4974  NaN   NaN    5   1022  2011    4       MSA      NaN

                                          Area  ...     Industry Status Code  \
  11                                U.S. TOTAL  ...  Information         NaN
  29                      Alabama -- Statewide  ...  Information         NaN
  46                   Autauga County, Alabama  ...  Information         NaN
  63                   Baldwin County, Alabama  ...  Information         NaN
  80                   Barbour County, Alabama  ...  Information         NaN
  ...                                      ...  ...          ...         ...
  62298                         Yakima, WA MSA  ...  Information         NaN
  62315                   York-Hanover, PA MSA  ...  Information         NaN
  62332  Youngstown-Warren-Boardman, OH-PA MSA  ...  Information         NaN
  62350                      Yuba City, CA MSA  ...  Information         NaN
  62368                           Yuma, AZ MSA  ...  Information         NaN

        Establishment Count  October Employment  November Employment  \
  11                 143802             2669178              2680724
  29                   1581               22619                22731
  46                      8                  38                   36
  63                     57                 415                  424
  80                      6                  28                   28
  ...                   ...                 ...                  ...
  62298                  47                 803                  796
  62315                  80                1777                 1778
  62332                 150                2188                 2189
  62350                  20                 389                  394
  62368                  36                 530                  538

         December Employment  Total Quarterly Wages  Average Weekly Wage  \
  11                 2686276            52251648019                 1500
  29                   22769              287873945                  975
  46                      36                 515959                 1082
  63                     440                4670811                  843
  80                      28                 285578                  785
  ...                    ...                    ...                  ...
  62298                  818                8003975                  764
  62315                 1751               22934678                  997
  62332                 2202               24763630                  869
  62350                  391                4983931                  980
  62368                  536                4769653                  686

         Employment Location Quotient Relative to U.S.  \
  11                                              1.00
  29                                              0.61
  46                                              0.17
  63                                              0.37
  80                                              0.15
  ...                                              ...
  62298                                           0.43
  62315                                           0.50
  62332                                           0.50
  62350                                           0.46
  62368                                           0.35

         Total Wage Location Quotient Relative to U.S.
  11                                              1.00
  29                                              0.45
  46                                              0.18
  63                                              0.30
  80                                              0.13
  ...                                              ...
  62298                                           0.29
  62315                                           0.40
  62332                                           0.38
  62350                                           0.38
  62368                                           0.27

  [3504 rows x 21 columns]},
 '2012': {'1':       Area\nCode   St  Cnty  Own  NAICS  Year  Qtr Area Type  St Name  \
  11         US000   US   0.0    5   1022  2012    1    Nation      NaN
  29         01000   01   0.0    5   1022  2012    1     State  Alabama
  46         01001   01   1.0    5   1022  2012    1    County  Alabama
  63         01003   01   3.0    5   1022  2012    1    County  Alabama
  80         01005   01   5.0    5   1022  2012    1    County  Alabama
  ...          ...  ...   ...  ...    ...   ...  ...       ...      ...
  62164      C4942  NaN   NaN    5   1022  2012    1       MSA      NaN
  62181      C4962  NaN   NaN    5   1022  2012    1       MSA      NaN
  62198      C4966  NaN   NaN    5   1022  2012    1       MSA      NaN

In [34]:
print(all_bls_data_information["2011"]["0"])

KeyError: '0'

In [40]:
num_to_month = {
    1: "January",
    2: "February",
    3: "March",
    4: "April",
    5: "May",
    6: "June",
    7: "July",
    8: "August",
    9: "September",
    10: "October",
    11: "November",
    12: "December",
}

def getCountySeries(county):
    filtered_data = []
    for year in all_bls_data_information:
        for quarter in all_bls_data_information[year]:
            quarterly_df = all_bls_data_information[year][quarter]
            quarterly_df = quarterly_df[quarterly_df["Area"] == county].copy()
            quarterly_df = quarterly_df.reset_index()

            start_mth = 3 * (int(quarter) - 1) + 1
            end_mth = start_mth + 3

            for month in range(start_mth, end_mth):
                month_str = str(month) if month > 9 else "0" + str(month)
                filtered_data.append(
                    [f"{year}-{month_str}", quarterly_df.loc[0, f"{num_to_month[month]} Employment"]]
                )

    filtered_df = pd.DataFrame(filtered_data, columns=["Year-Month", "Employment"])
    return filtered_df

In [41]:
county = "Autauga County, Alabama"
ex = getCountySeries(county)
ex

    Year-Month  Employment
0      2011-01          38
1      2011-02          38
2      2011-03          38
3      2011-04          37
4      2011-05          44
..         ...         ...
154    2023-11          43
155    2023-12          42
156    2024-01          40
157    2024-02          40
158    2024-03          36

[159 rows x 2 columns]