In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

sc_employment = pd.read_csv(
    "./data/processed_employment/Santa_Clara_County,_California.csv"
)
sc_real_estate = pd.read_csv("./data/processed_zillow/Santa_Clara_County.csv")

sm_employment = pd.read_csv(
    "./data/processed_employment/San_Mateo_County,_California.csv"
)
sm_real_estate = pd.read_csv("./data/processed_zillow/San_Mateo_County.csv")

fresno_employment = pd.read_csv("./data/processed_employment/Fresno_County,_California.csv")
fresno_real_estate = pd.read_csv("./data/processed_zillow/Fresno_County.csv")

travis_employment = pd.read_csv(
    "./data/processed_employment/Travis_County,_Texas.csv"
)
travis_real_estate = pd.read_csv("./data/processed_zillow/Travis_County.csv")

In [5]:
pd.set_option("display.float_format", "{:,.2f}".format)
sc = pd.concat([sc_employment, sc_real_estate], axis=0)
print("Summary Statistics for Santa Clara:")
print(sc.describe())

latex_table = sc.describe().to_latex(index=True, float_format="%.2f")

# Save the LaTeX table to a file
with open("summary_statistics.tex", "w") as f:
    f.write(latex_table)

# Print LaTeX table
print(latex_table)

Summary Statistics for Santa Clara:
       Employment        Price
count      159.00       165.00
mean    81,171.50 1,007,202.58
std     19,662.18   339,803.25
min     46,346.00   479,770.00
25%     63,531.50   714,188.00
50%     86,366.00   936,261.00
75%     99,554.50 1,266,337.00
max    106,014.00 1,601,205.00
\begin{tabular}{lrr}
\toprule
 & Employment & Price \\
\midrule
count & 159.00 & 165.00 \\
mean & 81171.50 & 1007202.58 \\
std & 19662.18 & 339803.25 \\
min & 46346.00 & 479770.00 \\
25% & 63531.50 & 714188.00 \\
50% & 86366.00 & 936261.00 \\
75% & 99554.50 & 1266337.00 \\
max & 106014.00 & 1601205.00 \\
\bottomrule
\end{tabular}

In [6]:
pd.set_option("display.float_format", "{:,.2f}".format)
sm = pd.concat([sm_employment, sm_real_estate], axis=0)
print("Summary Statistics for San Mateo:")
print(sm.describe())

latex_table = sm.describe().to_latex(index=True, float_format="%.2f")

# Save the LaTeX table to a file
with open("summary_statistics.tex", "w") as f:
    f.write(latex_table)

# Print LaTeX table
print(latex_table)

Summary Statistics for San Mateo:
       Employment        Price
count      159.00       165.00
mean    37,538.50 1,141,353.93
std     13,902.36   334,254.48
min     17,062.00   575,510.00
25%     25,587.50   846,105.00
50%     35,766.00 1,206,743.00
75%     50,399.50 1,434,189.00
max     63,590.00 1,677,950.00
\begin{tabular}{lrr}
\toprule
 & Employment & Price \\
\midrule
count & 159.00 & 165.00 \\
mean & 37538.50 & 1141353.93 \\
std & 13902.36 & 334254.48 \\
min & 17062.00 & 575510.00 \\
25% & 25587.50 & 846105.00 \\
50% & 35766.00 & 1206743.00 \\
75% & 50399.50 & 1434189.00 \\
max & 63590.00 & 1677950.00 \\
\bottomrule
\end{tabular}

In [7]:
pd.set_option("display.float_format", "{:,.2f}".format)
sac_employment.replace(0, pd.NA, inplace=True)

# Fill NaN values with the mean of each column
sac_employment.fillna(sac_employment["Employment"].mean(), inplace=True)
sac = pd.concat([sac_employment, sac_real_estate], axis=0)


print("Summary Statistics for Sacramento:")
print(sac.describe())
latex_table = sac.describe().to_latex(index=True, float_format="%.2f")

# Save the LaTeX table to a file
with open("summary_statistics.tex", "w") as f:
    f.write(latex_table)

# Print LaTeX table
print(latex_table)

NameError: name 'sac_employment' is not defined

In [17]:
pd.set_option("display.float_format", "{:,.2f}".format)
fresno_employment.replace(0, pd.NA, inplace=True)

# Fill NaN values with the mean of each column
fresno_employment.fillna(fresno_employment["Employment"].mean(), inplace=True)
fresno = pd.concat([fresno_employment, fresno_real_estate], axis=0)

print("Summary Statistics for Fresno:")
print(fresno.describe())
latex_table = fresno.describe().to_latex(index=True, float_format="%.2f")

# Save the LaTeX table to a file
with open("summary_statistics.tex", "w") as f:
    f.write(latex_table)

# Print LaTeX table
print(latex_table)

Summary Statistics for Fresno:
       Employment      Price
count      159.00     165.00
mean     3,439.75 252,683.59
std        379.09  81,946.61
min      2,457.00 138,997.00
25%      3,189.50 189,172.00
50%      3,501.00 239,554.00
75%      3,756.50 316,048.00
max      3,982.00 395,622.00
\begin{tabular}{lrr}
\toprule
 & Employment & Price \\
\midrule
count & 159.00 & 165.00 \\
mean & 3439.75 & 252683.59 \\
std & 379.09 & 81946.61 \\
min & 2457.00 & 138997.00 \\
25% & 3189.50 & 189172.00 \\
50% & 3501.00 & 239554.00 \\
75% & 3756.50 & 316048.00 \\
max & 3982.00 & 395622.00 \\
\bottomrule
\end{tabular}

/var/folders/4r/8l8ztg457hq357p0kylhwhfw0000gn/T/ipykernel_53888/520887257.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  fresno_employment.fillna(fresno_employment["Employment"].mean(), inplace=True)

In [8]:
pd.set_option("display.float_format", "{:,.2f}".format)
travis_employment.replace(0, pd.NA, inplace=True)

# Fill NaN values with the mean of each column
travis_employment.fillna(travis_employment["Employment"].mean(), inplace=True)
travis = pd.concat([travis_employment, travis_real_estate], axis=0)

print("Summary Statistics for Travis:")
print(travis.describe())
latex_table = travis.describe().to_latex(index=True, float_format="%.2f")

# Save the LaTeX table to a file
with open("summary_statistics.tex", "w") as f:
    f.write(latex_table)

# Print LaTeX table
print(latex_table)

Summary Statistics for Travis:
       Employment      Price
count      159.00     165.00
mean    28,521.73 356,832.67
std      7,742.25 120,882.37
min     17,835.00 204,009.00
25%     21,947.50 261,244.00
50%     26,254.00 330,307.00
75%     34,247.50 459,559.00
max     42,585.00 617,385.00
\begin{tabular}{lrr}
\toprule
 & Employment & Price \\
\midrule
count & 159.00 & 165.00 \\
mean & 28521.73 & 356832.67 \\
std & 7742.25 & 120882.37 \\
min & 17835.00 & 204009.00 \\
25% & 21947.50 & 261244.00 \\
50% & 26254.00 & 330307.00 \\
75% & 34247.50 & 459559.00 \\
max & 42585.00 & 617385.00 \\
\bottomrule
\end{tabular}