In [2]:
import pandas as pd

/var/folders/4r/8l8ztg457hq357p0kylhwhfw0000gn/T/ipykernel_81689/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
zillow_county_zhvi_df = pd.read_csv('./data/zillow/County_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')

In [4]:
zillow_county_zhvi_df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,208647.919509,...,865153.204373,864132.886760,859326.994934,855511.376681,856150.753342,859330.357288,861428.532750,865092.978391,870313.709819,876958.430862
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,147507.033889,...,295574.379458,295807.192380,296750.247771,298765.785128,301413.876693,303248.683214,304304.208302,304962.575753,305787.824375,306458.976441
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,109138.965088,...,279592.471752,279703.229912,280164.028963,281162.470003,282201.612312,282791.048604,282673.306736,282304.781165,281966.974553,281752.789691
3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,143468.389801,...,465560.641583,465924.628213,466463.367772,467916.658718,469691.605770,471094.123500,471262.762845,470658.091259,469541.963287,468595.683794
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,214455.519985,...,902390.480071,904658.344283,909191.241655,917402.267397,927651.265767,936425.664757,940920.734698,942366.615764,941928.201959,941480.058616
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3069,846,3206,Banner County,county,NE,NE,"Scottsbluff, NE",31,7,NaN,...,312795.550833,311485.589318,310145.852188,311434.732864,314227.660894,317507.187148,318169.453862,320202.514556,326574.757511,336171.914864
3070,1648,3207,Daggett County,county,UT,UT,NaN,49,9,NaN,...,322240.756357,321559.613061,322228.733665,323090.997451,323151.629543,321829.784631,319723.202339,317503.341522,317439.546636,319855.715781
3071,1432,3208,Thomas County,county,NE,NE,NaN,31,171,NaN,...,139958.059444,139785.504768,139589.980836,139762.032361,140190.358281,140476.529677,140761.685997,140592.818504,141053.159103,141689.697397
3072,2794,3212,McPherson County,county,NE,NE,"North Platte, NE",31,117,NaN,...,271622.786132,273287.520154,275442.831255,279388.685933,284655.115896,289031.217564,291360.915393,293819.568101,300835.519911,310842.045199
3073,2825,3214,Petroleum County,county,MT,MT,NaN,30,69,NaN,...,191583.808533,191358.686189,193095.261327,196496.342636,200105.980145,202621.605765,203683.258097,203660.986021,205782.382656,209189.496951

In [5]:
pd.set_option('display.max_rows', 500)
zillow_county_zhvi_df.isna().sum()

RegionID                0
SizeRank                0
RegionName              0
RegionType              0
StateName               0
State                   0
Metro                1243
StateCodeFIPS           0
MunicipalCodeFIPS       0
2000-01-31           2040
2000-02-29           2038
2000-03-31           2036
2000-04-30           2034
2000-05-31           2031
2000-06-30           2029
2000-07-31           2028
2000-08-31           2026
2000-09-30           2025
2000-10-31           2024
2000-11-30           2021
2000-12-31           2020
2001-01-31           2007
2001-02-28           2006
2001-03-31           2003
2001-04-30           1999
2001-05-31           1997
2001-06-30           1995
2001-07-31           1993
2001-08-31           1990
2001-09-30           1987
2001-10-31           1984
2001-11-30           1981
2001-12-31           1979
2002-01-31           1974
2002-02-28           1974
2002-03-31           1974
2002-04-30           1962
2002-05-31           1959
2002-06-30           1951
2002-07-31           1948
2002-08-31           1947
2002-09-30           1946
2002-10-31           1944
2002-11-30           1942
2002-12-31           1940
2003-01-31           1936
2003-02-28           1933
2003-03-31           1928
2003-04-30           1925
2003-05-31           1918
2003-06-30           1919
2003-07-31           1909
2003-08-31           1910
2003-09-30           1904
2003-10-31           1901
2003-11-30           1892
2003-12-31           1886
2004-01-31           1878
2004-02-29           1879
2004-03-31           1870
2004-04-30           1862
2004-05-31           1860
2004-06-30           1860
2004-07-31           1862
2004-08-31           1855
2004-09-30           1855
2004-10-31           1853
2004-11-30           1848
2004-12-31           1848
2005-01-31           1864
2005-02-28           1858
2005-03-31           1853
2005-04-30           1859
2005-05-31           1838
2005-06-30           1824
2005-07-31           1813
2005-08-31           1802
2005-09-30           1807
2005-10-31           1801
2005-11-30           1797
2005-12-31           1792
2006-01-31           1791
2006-02-28           1786
2006-03-31           1786
2006-04-30           1784
2006-05-31           1780
2006-06-30           1778
2006-07-31           1775
2006-08-31           1773
2006-09-30           1770
2006-10-31           1767
2006-11-30           1766
2006-12-31           1761
2007-01-31           1753
2007-02-28           1745
2007-03-31           1742
2007-04-30           1739
2007-05-31           1733
2007-06-30           1727
2007-07-31           1726
2007-08-31           1721
2007-09-30           1718
2007-10-31           1712
2007-11-30           1713
2007-12-31           1708
2008-01-31           1696
2008-02-29           1700
2008-03-31           1703
2008-04-30           1692
2008-05-31           1694
2008-06-30           1689
2008-07-31           1671
2008-08-31           1663
2008-09-30           1665
2008-10-31           1656
2008-11-30           1648
2008-12-31           1639
2009-01-31           1520
2009-02-28           1446
2009-03-31           1333
2009-04-30           1266
2009-05-31           1213
2009-06-30           1163
2009-07-31           1132
2009-08-31           1111
2009-09-30           1089
2009-10-31           1074
2009-11-30           1068
2009-12-31           1062
2010-01-31           1059
2010-02-28           1051
2010-03-31           1043
2010-04-30           1037
2010-05-31           1029
2010-06-30           1021
2010-07-31           1007
2010-08-31           1008
2010-09-30           1004
2010-10-31           1001
2010-11-30            994
2010-12-31            992
2011-01-31            981
2011-02-28            981
2011-03-31            978
2011-04-30            969
2011-05-31            959
2011-06-30            947
2011-07-31            944
2011-08-31            940
2011-09-30            937
2011-10-31            937
2011-11-30            934
2011-12-31            928
2012-01-31            691
2012-02-29            683
2012-03-31            676
2012-04-30            680
2012-05-31            675
2012-06-30            680
2012-07-31            669
2012-08-31            657
2012-09-30            655
2012-10-31            652
2012-11-30            649
2012-12-31            648
2013-01-31            642
2013-02-28            636
2013-03-31            634
2013-04-30            629
2013-05-31            625
2013-06-30            622
2013-07-31            616
2013-08-31            613
2013-09-30            611
2013-10-31            604
2013-11-30            601
2013-12-31            597
2014-01-31            588
2014-02-28            586
2014-03-31            586
2014-04-30            582
2014-05-31            575
2014-06-30            572
2014-07-31            570
2014-08-31            567
2014-09-30            566
2014-10-31            563
2014-11-30            562
2014-12-31            560
2015-01-31            553
2015-02-28            552
2015-03-31            549
2015-04-30            543
2015-05-31            541
2015-06-30            539
2015-07-31            535
2015-08-31            534
2015-09-30            532
2015-10-31            532
2015-11-30            531
2015-12-31            529
2016-01-31            520
2016-02-29            104
2016-03-31            103
2016-04-30            103
2016-05-31            103
2016-06-30            102
2016-07-31            103
2016-08-31            102
2016-09-30            102
2016-10-31            102
2016-11-30            103
2016-12-31            102
2017-01-31            101
2017-02-28             95
2017-03-31             94
2017-04-30             94
2017-05-31             94
2017-06-30             94
2017-07-31             94
2017-08-31             94
2017-09-30             94
2017-10-31             94
2017-11-30             94
2017-12-31             94
2018-01-31             95
2018-02-28             87
2018-03-31             87
2018-04-30             86
2018-05-31             87
2018-06-30             87
2018-07-31             87
2018-08-31             87
2018-09-30             87
2018-10-31             86
2018-11-30             88
2018-12-31             86
2019-01-31             87
2019-02-28             75
2019-03-31             73
2019-04-30             71
2019-05-31             69
2019-06-30             69
2019-07-31             69
2019-08-31             69
2019-09-30             69
2019-10-31             69
2019-11-30             68
2019-12-31             68
2020-01-31             68
2020-02-29             64
2020-03-31             64
2020-04-30             64
2020-05-31             63
2020-06-30             63
2020-07-31             63
2020-08-31             63
2020-09-30             70
2020-10-31             70
2020-11-30             67
2020-12-31             65
2021-01-31             63
2021-02-28             51
2021-03-31             51
2021-04-30             52
2021-05-31             52
2021-06-30             51
2021-07-31             52
2021-08-31             52
2021-09-30             52
2021-10-31             51
2021-11-30             51
2021-12-31             51
2022-01-31             51
2022-02-28             13
2022-03-31             12
2022-04-30             12
2022-05-31             12
2022-06-30             12
2022-07-31             12
2022-08-31             12
2022-09-30             12
2022-10-31             12
2022-11-30             12
2022-12-31             12
2023-01-31             12
2023-02-28             10
2023-03-31              9
2023-04-30              9
2023-05-31              9
2023-06-30              9
2023-07-31              9
2023-08-31              9
2023-09-30              9
2023-10-31              7
2023-11-30              3
2023-12-31              2
2024-01-31              0
2024-02-29              0
2024-03-31              0
2024-04-30              0
2024-05-31              0
2024-06-30              0
2024-07-31              0
2024-08-31              0
2024-09-30              0
dtype: int64

In [6]:
timestamp_columns = zillow_county_zhvi_df.columns[zillow_county_zhvi_df.columns.str.match(r'\d{4}-\d{2}-\d{2}')]

# Step 2: Group by 'RegionID' and count NaN values for each timestamp
na_count_by_region = zillow_county_zhvi_df.groupby('RegionID')[timestamp_columns].apply(lambda group: group.isna().sum())

na_sum_by_region = na_count_by_region.sum(axis=1)
na_sum_by_region_sorted = na_sum_by_region.sort_values(ascending=False)

# Step 4: Print or summarize the result
print("=================")
print("RegionID mapped to number of missing ZHVI entries")
print("=================")
print(na_sum_by_region_sorted)
regions_with_no_na = na_sum_by_region[na_sum_by_region == 0]

# Step 2: Count the number of regions
count_regions_with_no_na = regions_with_no_na.count()

# Step 3: Print the count
print("=================")
print("Number of regions with no empty values")
print(count_regions_with_no_na)
print("=================")

=================
RegionID mapped to number of missing ZHVI entries
=================
RegionID
736     288
1542    288
3160    287
1065    286
240     286
       ...
1018      0
1761      0
2775      0
1006      0
1896      0
Length: 3074, dtype: int64
=================
Number of regions with no empty values
710
=================

In [9]:
df = zillow_county_zhvi_df.copy()

# Step 1: Identify non-timestamp columns (e.g., RegionID, RegionName, etc.)
non_timestamp_columns = df.columns[~df.columns.str.match(r'\d{4}-\d{2}-\d{2}')]

# Step 2: Identify timestamp columns starting from 2011 onwards
timestamp_columns = df.columns[df.columns.str.match(r'\d{4}-\d{2}-\d{2}') & (df.columns >= '2011-01-01')]

# Step 3: Combine the non-timestamp columns and the filtered timestamp columns
columns_to_keep = non_timestamp_columns.union(timestamp_columns)

# Step 4: Keep only the desired columns
df_filtered = df[columns_to_keep]

In [15]:
df_filtered

,2011-01-31,2011-02-28,2011-03-31,2011-04-30,2011-05-31,2011-06-30,2011-07-31,2011-08-31,2011-09-30,2011-10-31,...,2024-09-30,Metro,MunicipalCodeFIPS,RegionID,RegionName,RegionType,SizeRank,State,StateCodeFIPS,StateName
0,364832.684305,364937.281184,363841.547754,362712.515893,359294.066208,357730.135911,356232.155340,354282.651246,350709.561429,346742.528891,...,876958.430862,"Los Angeles-Long Beach-Anaheim, CA",37,3101,Los Angeles County,county,0,CA,6,CA
1,182604.652107,180501.820412,179188.818588,177607.574010,176914.229034,175714.280405,175309.301808,174287.575148,173286.002247,170966.428833,...,306458.976441,"Chicago-Naperville-Elgin, IL-IN-WI",31,139,Cook County,county,1,IL,17,IL
2,127738.177317,127177.036378,126369.642659,125649.382888,125079.334629,124739.740135,124636.619319,124667.764590,124609.325319,124434.512998,...,281752.789691,"Houston-The Woodlands-Sugar Land, TX",201,1090,Harris County,county,2,TX,48,TX
3,145174.694360,143198.937785,141944.997094,140524.196301,139071.286243,137374.640046,136615.791310,136380.698328,136444.628368,136598.317267,...,468595.683794,"Phoenix-Mesa-Chandler, AZ",13,2402,Maricopa County,county,3,AZ,4,AZ
4,352908.783923,352019.186512,349853.203390,348284.773291,346694.368558,345804.929922,344371.915652,341478.543564,338204.820166,335411.619663,...,941480.058616,"San Diego-Chula Vista-Carlsbad, CA",73,2841,San Diego County,county,4,CA,6,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,336171.914864,"Scottsbluff, NE",7,846,Banner County,county,3206,NE,31,NE
3070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,319855.715781,NaN,9,1648,Daggett County,county,3207,UT,49,UT
3071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,141689.697397,NaN,171,1432,Thomas County,county,3208,NE,31,NE
3072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,310842.045199,"North Platte, NE",117,2794,McPherson County,county,3212,NE,31,NE
3073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,209189.496951,NaN,69,2825,Petroleum County,county,3214,MT,30,MT

In [11]:
timestamp_columns = df_filtered.columns[df_filtered.columns.str.match(r'\d{4}-\d{2}-\d{2}')]

# Step 2: Group by 'RegionID' and count NaN values for each timestamp
na_count_by_region = df_filtered.groupby('RegionID')[timestamp_columns].apply(lambda group: group.isna().sum())

na_sum_by_region = na_count_by_region.sum(axis=1)

# Step 4: Print or summarize the result
na_sum_by_region_sorted = na_sum_by_region.sort_values(ascending=False)
print("=================")
print("RegionID mapped to number of missing ZHVI entries (filtered for 2011 and beyond)")
print("=================")
print(na_sum_by_region_sorted)

regions_with_no_na = na_sum_by_region[na_sum_by_region == 0]

# Step 2: Count the number of regions
count_regions_with_no_na = regions_with_no_na.count()

# Step 3: Print the count
print("=================")
print("Number of regions with no empty values")
print(count_regions_with_no_na)
print("=================")

=================
RegionID mapped to number of missing ZHVI entries (filtered for 2011 and beyond)
=================
RegionID
736     156
1542    156
3160    155
1775    154
240     154
       ...
1409      0
1410      0
1411      0
1412      0
1670      0
Length: 3074, dtype: int64
=================
Number of regions with no empty values
1979
=================